.button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: blue;
  cursor: pointer;

  &:not(.without-border) {
    border: 1px solid blue;
    border-radius: 3px;
  }
}

.delete-button {
  color: red;
  border-color: red;
}