.search-container {
  margin: 20px 0 10px 0;
  padding: 15px;
  background-color: #fff;
  .search-field {
    position: relative;
    margin-bottom: 8px;
    input {
      width: 100%;
    }
    .search-icon {
      position: absolute;
      top: 3px;
      right: 5px;
    }
  }
  .search-by {
    margin-right: 8px;
    color: #909090;
  }
}